body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Mountains of Christmas", serif;
    font-weight: 600;
    font-style: normal;
    background: linear-gradient(to right, #FF7F50, #D2691E, #F4A460, #B22222);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#Container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding for better spacing */
    width: 100%; /* Make container take full width */
    max-width: 1200px; /* Set a max width to control the size */
    box-sizing: border-box;
}

#turkey {
    width: 400px;
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto; /* Center image */
}

#progress, #totalSlaps, #status {
    margin-top: 10px; 
    padding: 10px;
    font-size: 1.5em;
}

#totalSlaps {
    font-size: 2em;
}

#status {
    font-size: 3em;
}

#slapButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#countdown {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

h1, h3, h4 {
    margin: 10px 0;
}

p {
    font-size: 2em;
}

#scoreboard {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}

#scoreboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#scoreboard li {
    margin: 5px 0;
}

.content-wrapper, .scoreboard-wrapper {
    display: flex;
    justify-content: center; /* Center the content */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    margin: 20px 0;
}

.left-text, .right-text {
    width: 100%;
    text-align: center; /* Center text within its column */
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.footer {
    font-size: 0.75em;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}
